{{ form_start(formUpdateThumb) }}
<div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
    <dt class="text-sm font-medium flex items-center text-gray-500">
        {{ form_label(formUpdateThumb.thumb) }}
    </dt>
    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
        {{ form_widget(formUpdateThumb.thumb) }}
    </dd>
</div>

{{ form_row(formUpdateThumb.submit, { 'label': 'Enregistrer'}) }}

{{ form_end(formUpdateThumb) }}