{% extends 'base.html.twig' %}

{% block title %}Ajouter un trick | {{ parent() }}{% endblock %}

{% block body %}
    <div class="mt-10 sm:mt-0 max-w-7xl mx-auto px-2 sm:px-6 min-h-[calc(100vh-8rem)]">

        <h1 class="pt-6 text-center text-3xl font-extrabold text-gray-900">Créer un nouveau trick</h1>

        {{ include('trick/_form.html.twig') }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('images') }}
    {{ encore_entry_script_tags('videos') }}
{% endblock %}